* {margin: 0; padding: 0;}
.bigwrwap {width: 100%; height: auto; margin: 0 auto;}
.wrap {width: 1000px; height: auto;  margin: 0 auto; box-sizing: border-box;}
a {text-decoration: none; color: black;}
header {width: 1000px; height: 70px; float: left;}
#header_bgc {width: 1000px; height: 40px; background-color: #a6bf8b; position:absolute; margin-top: 25px; z-index: -1;}
#logo {float: left;}
#logo img {height: 50px; float: left;}
li {list-style: none; text-align: center; font-size: 14px;}
.main_menu {width: 480px; height: 270px; margin:0 auto; float: left; margin-left:60px;}
.main_menu a {color: white;}
.main_menu > ul {width: 480px; height: 270px; padding-top:5px; }
.main_menu > ul > li {width: 120px; float: left; height: 45px; line-height: 41px; z-index: 5; position: relative;}
.main_menu > ul > li:hover > a {background-color: #252526; -webkit-background-clip: text; color: transparent; text-shadow: rgba(253, 251, 255, 0.5) 0px 1px 1px;}
#menu1:hover > ul {height: 84px;}
#menu2:hover > ul {height: 127px;}
.main_menu > ul > li > ul {height: 0; overflow: hidden; transition: 1s;border: 1px solid #c4cb99; background-color: white;}
.main_menu > ul > li > ul a {color: black;}
.main_menu > ul > li:hover > ul {height: 165px; transition: 1s; z-index: 5; position: relative;}
.main_menu > ul > li > ul > li:hover > a {text-shadow: 1px 1px #8a8a84;}
.join_menu {width: 1000px; height: 20px; }
.inmenu {width: 110px; height: 15px; float: right; margin-right: 20px; margin-top: 4px;}
.inmenu > p {width: 55px; float: left; font-size: 12px; color: white;}
.inmenu > p a {color:dimgray;}
.search {width:160px; height:30px; float: right; line-height: 47px;}
.search > input {width: 150px; height: 25px;}
section {width: 1000px; height: 908px; float: left;}
#main_slider {width: 1000px; height: 450px; float: left; overflow: hidden; margin-top: 14px; border: 1px solid rgba(78, 120, 55, 0.29);}
#img_box {width: 400%; height: 450px; float: left; z-index: 1; position: relative;}
#img_box img {width: 1000px; height: 450px;}
#img_box li {width: 1000px; height:450px; float: left;}
.notice_sea {width: 581px; height: 175px; float: left; margin-top: 19px; border: 1px solid rgba(84, 128,58,0.44);}
#notice_top {width: 580px; height: 32px; border-bottom: 1px solid rgba(84, 128,58,0.44);}
#notice_top > p {width: 85px; height: 30px; font-size: 17px; font-weight: bold; color: #687859; line-height: 32px; margin-left: 14px; float: left; cursor: pointer;}
.notice_sea table {margin-left: 13px; float: left;}
.notice_table {width: 580px; height: 143px;}
#click_table1 {position: absolute;}
.plus {float: left; margin-left: 295px; border: none; height: 18px; margin-top: 8px; background-color: #ffffff;}
.notice_table th,tr {height: 26px;}
.notice_table td {font-size: 14px;}
.table1 {width: 470px;}
#click_table2 {position: absolute; display: none;}

.advertising {float: left; width: 395px; height: 400px; margin-left: 20px; margin-top: 19px; overflow: hidden; border: 1px solid rgba(84, 128,58,0.44);}
#sub_box {width: 1600px; height: 400px; float: left; z-index: 1; position: relative;}
#sub_box img {width: 310px; height: 400px;}
#sub_box li {width: 400px; height:400px; float: left;}

.today_bap {width: 259px; height: 203px; border: 1px solid rgba(84, 128,58,0.44); float: left; position: relative; bottom: 205px; margin-left: 20px;}
#bapp a{font-size: 17px; font-weight: bold; color: #52643c; height: 32px; line-height: 32px; margin-left: 10px;}
#bap_img {width: 259px; height: 115px; text-align: center; padding-top: 20px; border-top: 1px solid rgba(84, 128,58,0.44);}
#bap_img img {width: 200px; height: 115px;}
#todate {width: 259px; height: 10px; text-align: center; font-size: 15px; color: #444444;}
.calendar {width: 300px; height: 203px; border: 1px solid rgba(84, 128,58,0.44); float: left; position: relative; bottom: 205px; }
#nowyemon {width: 300px; height: 30px; font-size: 14px; text-align: center; margin-top: 15px; line-height: 30px;}
#nowday {width: 300px; height: 90px; font-size: 55px; text-align: center; color: #2a331f; line-height: 75px;}
.calendar ul > li {width: 300px; height:33px; border-top: 1px solid rgba(166, 191, 139, 0.52); line-height: 33px; background-color: rgba(173, 191, 145, 0.34);}
ul > li span {float: right; margin-right: 10px; font-weight: bold;}

footer {width: 100%; height: 110px; background-color: rgba(115, 131, 69, 0.14); float: left; position: relative;}
#foot {width: 1000px; margin: 0 auto; font-size: 13px;}
#mini {width: 430px; height: 30px; border: 1px solid rgba(83, 102, 78, 0.46); line-height: 30px; text-align: center; margin-top: 14px; font-size: 13px;}
#imfor_school {margin-top: 13px; padding-top: 8px; border-top: 1px solid rgba(76, 92, 60, 0.52); }