* {margin: 0; padding: 0;}
.wrap {margin: 0 auto; width: 1280px;}
header {width: 1280px;
    height: 55px; overflow: hidden; background-color: #45471d; position: fixed;}
.logo {width: 97px; height:25px; overflow: hidden; margin-left: 20px; margin-top:15px; float: left;}
header > .menu ul,li {list-style: none; float: right; text-align: center; font-size: 14px; color: white;}
header > .menu { margin-top: 20px;}
header > .menu > ul {margin-right: 20px; float: right;}
header > .menu > ul > li {width: 75px; height: 30px;}
.none {
    height:60px;}
section {
    float: left;
    width:1280px;
    height:975px;}
.sec_img {width: 515px; float: left;}
.sec_img img {
    height: 975px;}
.notice {
    width:700px;
    float: left; margin-left: 55px; margin-top: 30px; line-height: 40px;}
#point {font-size: 22px; font-weight: bold;}
.big {font-size: 15px; font-weight: bold;
    height:20px;
    color: #2c2b36;}
.small {font-size: 13px;
    height:40px;
    color: dimgray;}
.notice > table {width: 650px;
    height: 160px; border-top: 0.3px solid dimgray;}
.notice > table td {border-bottom: 0.4px solid lightgray;}
footer {
    width:1280px; height: 20px; border-bottom: 10px solid #45471d; float: left;}
footer > p {font-size: 12px; float: right;}
